@import "compass";

$orange: #FF8700;
$grey35: #B9B9B9;
$grey55: #8C8C8C;
$grey80: #515151;

@include font-face(
		"Share-Regular",
		font-files(
			"Share-Regular.ttf",
			"Share-Regular.otf"
		)
);

.t3seeslide {
	@include background(
		image-url("t3see-logo.png")no-repeat bottom right,
		radial-gradient(#fff, #848484)
	);
	@include border-radius(16px 16px);
	border: 2px solid rgba(0, 0, 0, .3);
	color: $grey80;
	width: 1000px;
	height: 700px;
	h1, h2, h3, h4,h5, h6 {
		font-family: "Share-Regular";
	}
}
#title.t3seeslide {
	h1 {
		font-family: "Share-Regular";
		font-size: 128px;
		color: $orange;
		margin: 32px;
		line-height: 1em;
	}
	p {

	}
}
#big.t3seeslide {

}
#tiny.t3seeslide {

}
#ing.t3seeslide {

}
#imagination.t3seeslide {

}
#source.t3seeslide {

}
#its-in-3d.t3seeslide {

}