@font-face { font-family: "Share-Regular"; src: url('../Fonts/Share-Regular.ttf') format('truetype'), url('../Fonts/Share-Regular.otf') format('opentype'); }

.t3seeslide { background: url('../Images/t3see-logo.png?1363166306') no-repeat bottom right, -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #848484)); background: url('../Images/t3see-logo.png?1363166306') no-repeat bottom right, -webkit-radial-gradient(#ffffff, #848484); background: url('../Images/t3see-logo.png?1363166306') no-repeat bottom right, -moz-radial-gradient(#ffffff, #848484); background: url('../Images/t3see-logo.png?1363166306') no-repeat bottom right, -o-radial-gradient(#ffffff, #848484); background: url('../Images/t3see-logo.png?1363166306') no-repeat bottom right, radial-gradient(#ffffff, #848484); -webkit-border-radius: 16px 16px; -moz-border-radius: 16px 16px; -ms-border-radius: 16px 16px; -o-border-radius: 16px 16px; border-radius: 16px 16px; border: 2px solid rgba(0, 0, 0, 0.3); color: #515151; width: 1000px; height: 700px; }
.t3seeslide h1, .t3seeslide h2, .t3seeslide h3, .t3seeslide h4, .t3seeslide h5, .t3seeslide h6 { font-family: "Share-Regular"; }

#title.t3seeslide h1 { font-family: "Share-Regular"; font-size: 128px; color: #ff8700; margin: 32px; line-height: 1em; }
